.pic {

    position: absolute;
    left: 9%;
    top: 0;

}

.pic-img {

    border-radius: 50%;
    width: 115px;
    height: 115px;
}

.closediv {
    width: 100%;
    float: left;
    position: relative;
}

.task {
    color: #3973FF;
    text-align: center;
    font-weight: bold;

}

.from {
    font-size: 20px;
    color: #3973FF;

    font-weight: bold;
    margin-right: 20px;

}

.Assign-Drivers {
    padding: 50px 0px 9px 127px;
    margin: 0px 134px 0px 0px;

}

.Price {
    padding: 4px;

    margin: 10px 10px 10px 30px;
}

.Chats {
    padding: 5px;

    margin: 10px 10px 10px 88px;
}

.Wallet {
    padding: 5px;


    margin: 10px 10px 10px 81px;
}

.Notification {
    padding: 5px;


    margin: 10px 10px 10px 28px;

}

.Bus {
    padding: 5px;

    margin: 10px 75px 10px 175px;
}

.Drivers {
    padding: 5px;

    margin: 10px 10px 10px 77px;
}

.profi {
    padding: 5px;


    margin: 10px 10px 10px 82px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 61px;
    height: 30px;
    margin: 0px 0px 0px 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2F3142;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    align-items: center;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, #FF5050, #FF0783);
    -webkit-transition: .4s;
    transition: .4s;



}


input:checked+.slider {
    background-color: #2F3142;
    border: 3px solid #3973FF;
    bottom: 0px;

}

input:focus+.slider {
    box-shadow: 0 0 1px #3973FF;


}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: linear-gradient(to bottom, #6C50FF, #3973FF);
    border: 1px solid #3973FF;


}

.slider.round {
    border-radius: 35px;
}

.slider.round:before {
    border-radius: 50%;

}

.task-text h2 {
    color: white;
    text-align: center;
    margin: 30px 0px 0px 30px;
    font-size: 26px;
    font-weight: bold;
}