@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e1e2c;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.flex-90 {
  flex: 0.9;
}
.flex-12 {
  flex: 0.12;
}

.sk-chase {
  width: 20px;
  height: 20px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: -35px;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #888;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  transition: all 1s ease-in;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: radial-gradient(
    circle,
    rgba(255, 80, 80, 1) 0%,
    rgba(138, 80, 219, 1) 70%,
    rgba(114, 80, 248, 1) 96%
  );
  height: 1rem;
  border: 2px solid black;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: black;
  background: radial-gradient(
    circle,
    rgba(255, 80, 80, 1) 0%,
    rgba(138, 80, 219, 1) 70%,
    rgba(114, 80, 248, 1) 96%
  );
  height: 1rem;
  border: 2px solid black;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: #2f3142;
  border: 1px solid black;
  border-radius: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid black;
  outline: 1px solid black;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid black;
  outline: 1px solid black;
}




/* React Calendar */
.c1 {
  background-color: #2F3142;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 5px;
  font-size: 16px;
  font-weight: bolder;
  color: #3973FF;
  margin-bottom: 4px;
}
.react-calendar__navigation__label {
  background-color: #242636;
  padding: 4px;
  border-radius: 15px;
  word-wrap: none;
  width: 150px;
  box-shadow: 0px 3px 6px 1px #1e1e2c;
}

.react-calendar__navigation__arrow{
  display: flex;
  scale: 1.3;
  align-items: center;
  justify-content: center;
  background-color: #242636;
  width: 20px;
  height: 20px;
  padding-bottom: 3px;
  border-radius: 50%;
}
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 6px 4px;
}

.react-calendar__month-view__weekdays__weekday {
  margin-top: 3px;
  padding: 2px 8px;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 600;
  color: #3973FF;
}

.react-calendar__tile {
  /* background-color: red; */
  padding: 3px;
  cursor: context-menu;
}

.react-calendar__tile--active {
  width: 25px;
  height: 40px;
  border-radius: 90%;
  background-color: #3973FF;
}

.highlight {
  background-color: #888;
}


/* Date input Edit */

#assignDriver::-webkit-calendar-picker-indicator {
  /* display: none; */
  color: #3973FF;
}

#assignDriver::-webkit-datetime-edit-text,
#assignDriver::-webkit-datetime-edit-month-field,
#assignDriver::-webkit-datetime-edit-day-field,
#assignDriver::-webkit-datetime-edit-year-field {
  color: white;
}

#assignDriver::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: space-between;
}

#assignDriver::-webkit-datetime-edit-ampm-field {
  display: none;
}

#busStartTime::-webkit-datetime-edit-ampm-field {
  display: none;
}


#busStartDate::-webkit-datetime-edit-text,
#busStartDate::-webkit-datetime-edit-month-field,
#busStartDate::-webkit-datetime-edit-day-field,
#busStartDate::-webkit-datetime-edit-year-field {
  color: white;
}
#assignDriver::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: space-around;
}

#clicking {
    margin: 0;
    margin-right: 2px;
      -webkit-appearance: none;
      background: url('/src/assets/images/Icon\ ionic-md-arrow-dropdown.png') 85% 50% no-repeat #2f3142;
      background-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}